<!-- top footer -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <div class="footer">
                    <h3 class="footer-title">Giới thiệu</h3>
                    <p>Cửa hàng chúng tôi đã có 5 năm kinh nghiệm về kinh doanh mỹ phẩm, phụ kiện dành cho nữ</p>
                    <ul class="footer-links">
                        <li><a href="#"><i class="fa fa-map-marker"></i>số 3 cầu giấy</a></li>
                        <li><a href="#"><i class="fa fa-phone"></i>024 3766 3311</a></li>
                        <li><a href="#"><i class="fa fa-envelope-o"></i>daihocGTVT@gmail.com</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-xs-6">
                <div class="footer">
                    <h3 class="footer-title">Danh mục</h3>
                    <ul class="footer-links">
                        <li><a href="#">Bán chạy</a></li>
                        <li><a href="#">Nước hoa</a></li>
                        <li><a href="#">Son</a></li>
                        <li><a href="#">Quần áo</a></li>
                        <li><a href="#">Giày dép</a></li>
                    </ul>
                </div>
            </div>

            <div class="clearfix visible-xs"></div>

            <div class="col-md-3 col-xs-6">
                <div class="footer">
                    <h3 class="footer-title">Thông tin</h3>
                    <ul class="footer-links">
                        <li><a href="#">Giới thiệu</a></li>
                        <li><a href="#">Liên hệ</a></li>
                        <li><a href="#">Các Chính sách</a></li>
                        <li><a href="#">Mua Hàng</a></li>
                        <li><a href="#">Các điều khoản và hỗ trợ</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-xs-6">
                <div class="footer">
                    <h3 class="footer-title">Dịch vụ</h3>
                    <ul class="footer-links">
                        <li><a href="#">Tài khoản</a></li>
                        <li><a href="#">Xem giỏ hàng</a></li>
                        <li><a href="#">Mục yêu thích</a></li>
                        <li><a href="#">Theo dõi đơn hàng</a></li>
                        <li><a href="#">Hỗ trợ</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /top footer -->
<!-- bottom footer -->
<div id="bottom-footer" class="section">
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="footer-payments">
                    <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                    <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
                    <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                    <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                    <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
                    <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
                </ul>
                <span class="copyright">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Năm &copy;
                    <script>document.write(new Date().getFullYear());</script> Cửa hàng mỹ phầm ABCXYZ <i class="fa fa-heart-o" aria-hidden="true"></i> của <a href="https://colorlib.com" target="_blank">HLLNNN</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </span>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /bottom footer -->
